@use "helpers/mixns";
.contact {
  background-color: var(--soft-blue);
  .container {
    text-align: center;
    p {
      color: white;
      letter-spacing: 4px;
      font-size: 14px;
    }
    h2 {
      color: white;
      font-size: 20px;
      letter-spacing: 4px;
    }
    .contact-mail {
      @include mixns.position($position: relative, $z-index: 2);
      margin-top: 50px;
      > {
        input,
        button {
          display: block;
          width: 100%;
        }
        input {
          margin: 20px auto;
          border: solid 2px transparent;
          border-radius: 10px;
          padding: 20px;
          &.error {
            border-color: var(--soft-red);
            margin-bottom: 55px;
          }
        }
        button {
          margin: 10px auto;
          border: none;
          padding: 20px;
          border-radius: 10px;
          background-color: var(--soft-red);
          color: white;
        }
        span:nth-child(3) {
          @include mixns.position(
            $position: absolute,
            $right: 10px,
            $top: 17px
          );
          @include mixns.display($display: none);
          background-color: var(--soft-red);
          width: 25px;
          height: 25px;
          border-radius: 50%;
          color: white;
          font-size: 15px;
        }
        span:nth-child(4) {
          @include mixns.position(
            $position: absolute,
            $left: 0px,
            $top: 47px,
            $z-index: -1
          );
          @include mixns.display($display: none);
          background-color: var(--soft-red);
          color: white;
          width: 73vw;
          border-radius: 10px;
          padding: 20px 15px 10px;
          text-align: left;
          font-size: 16px;
        }
      }
    }
  }
}
/***************************************  Start Contact media  *******************************************/
@include mixns.mediaBreakpoints($min-width: "min-width:992px") {
  .contact {
    .container {
      width: 50vw;
      margin: 0 auto;
      p {
        letter-spacing: 10px;
      }
      h2 {
        margin-inline: auto;
        font-size: 30px;
        letter-spacing: 6px;
      }
      .contact-mail {
        @include mixns.display($display: flex, $align: center);
        margin-top: 50px;
        > {
          input {
            margin: 0;
            padding: 22px;
            &.error {
              margin-bottom: 0;
            }
          }
          button {
            width: 350px;
            margin-inline-start: 20px;
            white-space: nowrap;
            align-self: stretch;
            font-size: 22px;
            letter-spacing: 2px;
            border: solid 2px transparent;
            &:hover {
              @include mixns.hover(
                $bgColor: white,
                $color: var(--soft-red),
                $borderColor: var(--soft-red)
              );
            }
          }
          span:nth-child(3) {
            @include mixns.position(
              $position: absolute,
              $right: 322px,
              $top: 38px
            );
          }
          span:nth-child(4) {
            @include mixns.position(
              $position: absolute,
              $left: 0,
              $top: 95px,
              $z-index: -1
            );
            background-color: var(--soft-red);
            color: white;
            width: 75%;
          }
        }
      }
    }
  }
}
