@use "helpers/mixns";
.faq {
  .container {
    text-align: center;
    h2 {
      padding-inline: 30px;
      margin-bottom: 40px;
    }
    .questions {
      margin-top: 60px;
      .question {
        @include mixns.position($position: relative);
        overflow: hidden;
        height: fit-content;
        border-top: solid 1px var(--grayish-blue);
        cursor: pointer;
        &.active {
          height: 285px;
          > .content {
            padding-bottom: 25px;
          }
          > .head {
            margin-bottom: 20px;
          }
        }
        &:first-child {
          border-top: none;
        }
        &:nth-child(4) {
          border-bottom: solid 1px var(--grayish-blue);
        }
        .head {
          @include mixns.display($display: flex);
          border-bottom: solid 1px var(--grayish-blue);
          padding: 25px 0px;
          &:hover {
            color: var(--soft-red);
            cursor: pointer;
          }
          > {
            span {
              @include mixns.display($display: inline-block);
              text-align: left;
              flex: 1;
              font-size: 14px;
            }
            img {
              width: 15px;
            }
          }
        }
        .content {
          @include mixns.position($position: absolute, $left: 0);
          width: 100%;
          text-align: left;
          line-height: 1.5;
          color: var(--grayish-blue);
          transition: 0.5s;
          > p {
            max-width: 100% !important;
          }
        }
      }
      button {
        background-color: var(--soft-blue);
        border: none;
        padding: 20px 30px;
        color: white;
        border-radius: 10px;
        margin: 30px 0;
      }
    }
  }
}
/************************************** Start FAQ media   ****************************************/
@include mixns.mediaBreakpoints($min-width: "min-width:992px") {
  .faq {
    .container {
      padding-inline: 100px;
      .data {
        width: 600px;
        margin: 0 auto;
      }
      .questions {
        width: 50vw;
        margin: 55px auto;
        .question {
          &.active {
            height: 195px;
          }
          .head {
            span {
              font-size: 18px;
            }
            img {
              width: 18px;
            }
          }
        }
      }
    }
  }
}
