@use "helpers/mixns";
.features {
  text-align: center;
  .feat-header {
    h2,
    p {
      padding-inline: 50px;
    }
  }
  > .feat-tabs {
    padding-top: 60px;
    @include mixns.position($position: relative);
    > {
      ul {
        width: 80vw;
        margin: 0 auto;
        padding-bottom: 60px;
        border-top: solid 1px var(--grayish-blue);
        li {
          padding: 40px 0;
          height: 100%;
          border-bottom: solid 1px var(--grayish-blue);
          span {
            @include mixns.position($position: relative);
            color: var(--grayish-blue);
            letter-spacing: 1.5px;
            &.active {
              color: var(--very-dark-blue);
              &::after {
                content: "";
                @include mixns.position(
                  $position: absolute,
                  $bottom: -40px,
                  $left: 50%
                );
                height: 5px;
                width: 300px;
                transform: translateX(-50%);
                background-color: var(--soft-red);
              }
            }
          }
        }
      }
      .tab-content {
        @include mixns.position($position: absolute, $z-index: 1);
        width: 100%;
        opacity: 0;
        transition: 0.3s;
        &.active {
          opacity: 1;
        }
        .img {
          @include mixns.position($position: relative);
          width: 100%;
          &::before {
            @include mixns.blueBackground(
              $top: 33px,
              $left: -20px,
              $width: 345px,
              $height: 210px,
              $bgColor: var(--soft-blue),
              $radius: 300px
            );
          }
          img {
            width: 80vw;
            max-width: 100%;
            display: block;
            margin: 0 auto !important;
          }
        }
        .data {
          padding: 50px;
        }
        &:nth-child(3),
        &:nth-child(4) {
          .img {
            &::before {
              @include mixns.blueBackground(
                $top: 34px,
                $left: -10px,
                $width: 297px,
                $height: 216px,
                $bgColor: var(--soft-blue),
                $radius: 300px
              );
            }
            img {
              width: 70vw;
              margin-left: 95px !important;
            }
          }
        }
      }
    }
  }
}
/*********************************  Start Featires Media *********************************/
@include mixns.mediaBreakpoints($min-width: "min-width:992px") {
  .features {
    .feat-header {
      width: 720px;
      margin: 0 auto;
    }
    .feat-tabs {
      padding-top: 70px;
      > {
        ul {
          @include mixns.display($display: flex, $justify: center);
          border-top: none !important;
          margin-inline: auto;
          li {
            max-width: 100%;
            padding: 0 !important;
            span {
              @include mixns.display($display: inline-block);
              padding: 50px;
              &.active {
                &::after {
                  width: 100% !important;
                  bottom: 0;
                }
              }
              &:hover {
                color: var(--soft-red);
                cursor: pointer;
              }
            }
          }
        }
        .tab-content {
          @include mixns.display($display: flex);
          margin-top: 100px;
          .img {
            width: 700px;
            max-height: 450px;
            &::before {
              @include mixns.blueBackground(
                $top: 21px,
                $left: -155px,
                $width: 850px,
                $height: 365px,
                $bgColor: var(--soft-blue),
                $radius: 210px
              );
            }
            img {
              @include mixns.position(
                $position: absolute,
                $top: -75px,
                $right: -29px
              );
              width: 600px;
              max-width: 100%;
              object-fit: contain;
            }
          }
          .data {
            padding: 0 30px;
            text-align: left;
            width: 525px;
            margin-left: 100px;
            p {
              margin-bottom: 30px;
            }
            button {
              @include mixns.display($display: block !important);
              border: none;
              background-color: var(--soft-blue);
              color: white;
              padding: 20px 35px;
              border-radius: 10px;
              font-weight: bold;
            }
          }
          &:nth-child(3),
          &:nth-child(4) {
            .img {
              &::before {
                @include mixns.blueBackground(
                  $top: 20px,
                  $left: 0px,
                  $width: 650px,
                  $height: 400px,
                  $bgColor: var(--soft-blue),
                  $radius: 300px
                );
              }
              img {
                max-height: 475px;
                left: 80px;
              }
            }
            .data {
              margin-left: 150px;
            }
          }
        }
      }
    }
  }
}
