@use "helpers/_mixns";
.features {
  padding: 50px 0;
  text-align: center;
  > .feat-tabs {
    padding-top: 100px;
    @include mixns.position($position: relative);
    > {
      ul {
        width: 80vw;
        margin: 0 auto;
        padding-bottom: 100px;
        border-top: solid 1px var(--grayish-blue);
        li {
          padding: 40px 0;
          height: 100%;
          border-bottom: solid 1px var(--grayish-blue);
          span {
            @include mixns.position($position: relative);
            font-size: 25px;
            color: var(--grayish-blue);
            letter-spacing: 1.5px;
            &.active {
              color: var(--very-dark-blue);
              &::after {
                content: "";
                @include mixns.position(
                  $position: absolute,
                  $bottom: -40px,
                  $left: 50%
                );
                height: 5px;
                width: 300px;
                transform: translateX(-50%);
                background-color: var(--soft-red);
              }
            }
          }
        }
      }
      .tab-content {
        @include mixns.position($position: absolute, $z-index: 1);
        width: 100%;
        opacity: 0;
        transition: 0.3s;
        &.active {
          opacity: 1;
        }
        .img {
          @include mixns.position($position: relative);
          &::before {
            @include mixns.blueBackground(
              $top: 120px,
              $left: 0,
              $width: 765px,
              $height: 500px,
              $bgColor: var(--soft-blue),
              $radius: 210px
            );
          }
          img {
            width: 85vw;
            height: 540px;
            max-width: 100%;
            display: block;
            margin: 0 auto;
          }
        }
        .tab-content.two.active {
          img::before {
            @include mixns.blueBackground(
              $top: 200px !important,
              $left: 0,
              $width: 765px,
              $height: 550px,
              $bgColor: var(--soft-blue),
              $radius: 210px
            );
          }
        }
        .data {
          padding: 150px 50px;
        }
      }
    }
  }
}
/*********************************  Start Featires Media *********************************/
@include mixns.mediaBreakpoints($min-width: "min-width:992px") {
  .features {
    .feat-tabs {
      padding-top: 70px;
      > {
        ul {
          @include mixns.display($display: flex, $justify: center);
          border-top: none !important;
          margin-inline: auto;
          li {
            max-width: 100%;
            padding: 0 !important;
            span {
              @include mixns.display($display: inline-block);
              padding: 50px;
              &.active {
                &::after {
                  width: 100% !important;
                  bottom: 0;
                }
              }
              &:hover {
                color: var(--soft-red);
                cursor: pointer;
              }
            }
          }
        }
        .tab-content {
          @include mixns.display($display: flex, $justify: space-around);
          .img {
            width: 700px;
            max-height: 450px;
            &::before {
              @include mixns.blueBackground(
                $top: 105px,
                $left: -155px,
                $width: 850px,
                $height: 350px,
                $bgColor: var(--soft-blue),
                $radius: 210px
              );
            }
            img {
              @include mixns.position(
                $position: absolute,
                $top: -75px,
                $right: -65px
              );
              width: 600px;
              max-width: 100%;
              object-fit: contain;
            }
          }
          .data {
            padding: 15px 30px;
            text-align: left;
            width: 525px;
            h3 {
              font-size: 30px;
            }
            p {
              font-size: 22px;
              margin-bottom: 30px;
            }
            button {
              @include mixns.display($display: block !important);
              border: none;
              background-color: var(--soft-blue);
              color: white;
              padding: 20px 35px;
              border-radius: 10px;
              font-weight: bold;
            }
          }
          &:nth-child(3) {
            .img {
              &::before {
                left: -200px !important;
              }
            }
          }
        }
      }
    }
  }
}
