@use "helpers/mixns";
footer {
  background-color: var(--very-dark-blue);
  .container {
    padding: 80px 0;
    nav {
      text-align: center;
      .logo {
        img {
          width: 300px;
        }
      }
      ul {
        li {
          margin: 70px auto;
          color: white;
          font-size: 30px;
          letter-spacing: 3px;
          text-transform: uppercase;
        }
      }
      .foot-social {
        @include mixns.display(
          $display: flex,
          $align: center,
          $justify: center
        );
        img {
          @include mixns.display($display: inline-block);
          margin-inline: 40px;
          width: 55px;
        }
      }
    }
  }
}
/***************************************  Start Footer media  ****************************************/
@include mixns.mediaBreakpoints($min-width: "min-width:992px") {
  footer {
    .container {
      padding: 50px 65px;
      .logo {
        margin-inline-end: 80px;
        img {
          width: 190px !important;
        }
      }
      nav {
        @include mixns.display($display: flex, $align: center);
        > {
          ul li {
            @include mixns.display($display: inline-block);
            margin-inline-end: 30px;
            margin-block: 0;
            font-size: 20px;
            &:hover {
              color: var(--soft-red);
              cursor: pointer;
            }
          }
          .foot-social {
            margin-right: 0;
            margin-left: auto;
            img {
              width: 40px;
              margin-inline: 30px;
              &:hover {
                filter: grayscale(100%) brightness(40%) sepia(100%)
                  hue-rotate(-50deg) saturate(600%) contrast(0.8);
              }
            }
          }
        }
      }
    }
  }
}
