@use "helpers/_mixns";
/*************************************** Start Header ***************************************/
header {
  @include mixns.position($position: relative);
  .container {
    @include mixns.display($display: flex);
    .logo {
      padding-left: 35px;
      img {
        width: 190px;
      }
    }
    .menu {
      flex: 1;
      text-align: right;
      > {
        img {
          width: 40px;
        }
        ul {
          @include mixns.position(
            $position: fixed,
            $top: 0,
            $right: 100%,
            $z-index: 2
          );
          width: 100%;
          height: 100%;
          background-color: rgba(hsl(229, 31%, 21%), 0.9);
          text-align: center;
          transition: 0.5s;
          hr {
            margin-left: 50%;
            transform: translateX(-50%);
            width: 90vw;
            background-color: var(--grayish-blue);
          }
          li {
            position: relative;
            font-size: 18px;
            padding: 60px 0;
            font-size: 50px;
            letter-spacing: 8px;
            &:first-child {
              width: 100%;
              padding: 80px 0;
              @include mixns.display(
                $display: flex,
                $justify: space-between,
                $align: center
              );
              > img {
                &:first-child {
                  width: 370px;
                  left: 34px;
                  margin-left: 50px;
                }
                &:nth-child(2) {
                  margin-right: 50px;
                  width: 40px;
                }
              }
            }
            &.login a {
              @include mixns.display($display: block);
              border: solid 5px white;
              border-radius: 10px;
              width: 90vw;
              padding: 30px;
              margin: 40px auto;
              cursor: pointer;
            }
            &.social {
              @include mixns.display(
                $display: flex,
                $justify: center,
                $align: center
              );
              @include mixns.position($position: absolute, $bottom: 80px);
              width: 100%;
              > img {
                width: 60px;
                margin-inline: 40px;
              }
            }
            a {
              text-transform: uppercase;
              color: white;
            }
          }
        }
      }
    }
  }
}
.show-aside {
  right: 0 !important;
}
/*************************************** Start  Header Media ***************************************/
@include mixns.mediaBreakpoints($min-width: "min-width:992px") {
  header {
    .container {
      @include mixns.display($display: flex, $align: center);
      padding: 30px;
      .menu {
        > {
          img {
            @include mixns.display($display: none!important);
          }
          ul {
            @include mixns.position(
              $position: absolute !important,
              $top: -10px !important,
              $right: 100px !important
            );
            width: fit-content !important;
            background-color: transparent !important;
            > {
              hr {
                @include mixns.display($display: none!important);
              }
              li {
                @include mixns.display($display: inline-block);
                padding: 0 !important;
                margin-inline: 20px;
                cursor: pointer;
                a {
                  color: var(--grayish-blue) !important;
                  font-size: 16px;
                  letter-spacing: 1.5px;
                  border: solid 2px transparent;
                }
                &:hover a {
                  color: var(--soft-red) !important;
                }
              }
              li:first-child {
                @include mixns.display($display: none !important);
              }
              .social {
                @include mixns.display($display: none!important);
              }
              .login a {
                @include mixns.display($display: inline-block !important);
                border: solid 2px transparent !important;
                border-radius: 10px;
                padding: 7px 35px !important;
                width: fit-content !important;
                background-color: var(--soft-red);
                color: white !important;
                margin-inline-start: 50px !important;
                &:hover {
                  background-color: white;
                  color: var(--soft-red) !important;
                  border: solid 2px var(--soft-red) !important;
                }
              }
            }
          }
        }
      }
    }
  }
}
