@use "helpers/mixns";
.landing {
  @include mixns.position($position: relative);
  overflow: hidden;
  &::before {
    @include mixns.blueBackground(
      $top: 90px,
      $right: 0,
      $width: 305px,
      $height: 150px,
      $bgColor: var(--soft-blue),
      $radius: 157px
    );
  }
  .container {
    .landing-img,
    .landing-content {
      text-align: center;
    }
    .landing-img {
      img {
        max-width: 100%;
      }
    }
    h1 {
      font-size: 24px;
      letter-spacing: 2px;
      margin: 20px auto;
      color: var(--very-dark-blue);
    }
    .landing-btns {
      text-align: center;
      margin-top: 20px;
      button {
        padding: 15px;
        border-radius: 10px;
        white-space: nowrap;
        border: none;
        margin-inline: 20px;
        margin-top: 20px;
        font-size: 18px;
        letter-spacing: 2px;
        box-shadow: 0px 0px 7px -1px var(--grayish-blue);
      }
      button:first-child {
        background-color: var(--soft-blue);
        color: white;
      }
    }
  }
}
@include mixns.mediaBreakpoints($min-width: "min-width:992px") {
  .landing {
    &::before {
      height: 342px !important;
      right: 0px !important;
      top: 127px;
      width: 599px;
    }
    .container {
      padding-inline: 100px;
      @include mixns.display($display: flex);
      .landing-img {
        order: 2;
        flex: 1;
        & img {
          width: 600px;
        }
      }
      .landing-content {
        width: 590px;
        text-align: left;
        padding: 40px;
        padding-left: 0;
        h1 {
          font-size: 40px;
        }
        p {
          margin-bottom: 25px;
        }
        .landing-btns {
          @include mixns.display($display: flex);
          margin-top: 0;
          button {
            width: 200px;
            padding: 20px;
            margin-top: 20px;
            margin-left: -10px;
            border: solid 2px transparent;
            font-weight: bold;
            font-size: 18px;
            &:hover {
              @include mixns.hover(
                $bgColor: white,
                $color: var(--soft-blue),
                $borderColor: var(--soft-blue)
              );
            }
            &:last-child {
              margin-left: 10px;
              &:hover {
                border-color: var(--very-dark-blue);
                color: var(--very-dark-blue);
              }
            }
          }
        }
      }
    }
  }
}
