doctype 
html(lang="en")
    head 
        meta(charset="UTF-8")
        meta( http-equiv="X-UA-Compatible" content="IE=edge" )
        meta(name="description" content="Bookmark Landing Page | Mona Elshikh ")
        include includes/_styles 
        title Bookmark Landing Page | Mona Elshikh 
    body    
        include includes/_header
        include includes/_landing
        include includes/_features
        include includes/_downloads
        include includes/_faq
        include includes/_contact
        include includes/_footer
        script(src="dist/js/main.js") 

