.contact 
    .container
        p 35.000 + ALREADY JOINED
        h2 Stay up-todate with what we're doing
        .contact-mail
            input(type="text" placeholder="Enter your email address")
            button Contact Us
            span !
            span Whoops, make sure it's an email