include _mixins
.faq
    .container
        .data
            h2  Frequently Asked Questions
            p Here are some of our FAQ. if you have any 
                |other questions you'd like answered please feel free to email us.
        .questions
            +FAQ(
                `What is book mark?`,
                `Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                Voluptatibus dolores earum veritatis voluptate soluta quisquam molestias. 
                Mollitia accusantium soluta, ut vitae, obcaecati eius nemo quae vel minima sed accusamus id?`)
            +FAQ(
                `How can i request a new browser?`,
                `Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                Voluptatibus dolores earum veritatis voluptate soluta quisquam molestias. 
                Mollitia accusantium soluta, ut vitae, obcaecati eius nemo quae vel minima sed accusamus id?`)
            +FAQ(
                `What about other chromium browsers?`,
                `Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                Voluptatibus dolores earum veritatis voluptate soluta quisquam molestias. 
                Mollitia accusantium soluta, ut vitae, obcaecati eius nemo quae vel minima sed accusamus id?`)
            +FAQ(
                `What is book mark?`,
                `Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                Voluptatibus dolores earum veritatis voluptate soluta quisquam molestias. 
                Mollitia accusantium soluta, ut vitae, obcaecati eius nemo quae vel minima sed accusamus id?`)
            button More info
            