footer
    .container
        nav 
            .logo #[img(src="./src/assets/images/logo-bookmark-footer.svg" alt="footer-logo")]
            ul
                li Features
                li Pricing
                li Contact
            .foot-social
                img(src="./dist/images/icon-facebook.svg" alt="facebook")
                img(src="./dist/images/icon-twitter.svg" alt="twitter")