header
    .container  
        .logo
            img(src="src/assets/images/logo-bookmark-main.svg" alt="logo")
        nav(class="menu")
            img(src="src/assets/images/icon-hamburger.svg" alt="toggle")
            ul
                li  
                    img(src="src/assets/images/logo-bookmark.svg" alt="logo")
                    img(src="src/assets/images/icon-close.svg" alt="close" class="close")
                hr
                li 
                    a(href="#") Features
                hr
                li 
                    a(href="#") Pricing
                hr
                li 
                    a(href="#") Contact
                hr
                li(class="login") 
                    a(href="#") Login
                li(class="social")
                    img(src="./src/assets/images/icon-facebook.svg" alt="facebook")
                    img(src="./src/assets/images/icon-twitter.svg" alt="facebook")
 

