header
    .container  
        .logo
            img(src="src/assets/images/logo-bookmark-main.svg" alt="logo")
        nav(class="menu")
            img(src="src/assets/images/icon-hamburger.svg" alt="toggle")
            ul
                li  
                    img(src="src/assets/images/logo-bookmark.svg" alt="logo")
                    img(src="src/assets/images/icon-close.svg" alt="close")
                hr
                li 
                    a Features
                hr
                li 
                    a Pricing
                hr
                li 
                    a Contact
                hr
                li(class="login") 
                    a Login
                li(class="social")
                    img(src="./src/assets/images/icon-facebook.svg" alt="facebook")
                    img(src="./src/assets/images/icon-twitter.svg" alt="facebook")
 

