.landing
    .container
        .landing-img
            img(src="./src/assets/images/illustration-hero.svg")
        .landing-content
            h1 A Simple Bookmark Manager
            p A clean and simple interface to organize your favourite websites. 
                |Open a new browser tab and see your sites load instantly.
                | try it for free.
            .landing-btns
                button Get it in chrome
                button Get it in firefox
